<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
  </head>
  <body>



    <h1>Create Account</h1>
    <form action="/register" method="POST">

      <label for="useremail">Email address:</label>
      <br>
      <input id="useremail" type="email" name="email" placeholder="Enter email" style="width: 300px">
      <br><br>
      <label for="userpassword">Password:</label>
      <br>
      <input id="userpassword" type="password" name="password" placeholder="password" style="width: 300px">
      <br><br>
      <input type="submit" value="Register">

    </form>
    <br>
    <br>
    <p>If you have an Account: </p>

    <a class="nav-item nav-link" href="/login">Login</a>

  </body>
</html>